<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Cats</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
	</head>
	<body>
		<div id="wrapper">
			<div id="header">
				<h1>Cars!</h1>
				<hr>
			</div>
			<div id="cars">
				<img src="/images/cat1.jpg" alt="Picture of car" />
				<img src="/images/cat2.jpg" alt="Picture of car" />
				<img src="/images/cat3.jpg" alt="Picture of car" />
				<img src="/images/cat4.jpg" alt="Picture of car" />
				<img src="/images/cat5.jpg" alt="Picture of car" />
			</div>
		</div>
	</body>
</html>
