<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>New Car</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
	</head>
	<body>
		<div id="wrapper">
			<div id="header">
				<h1>Add a Car!</h1>
				<hr>
			</div>
			<div id="add_carr">
				<fieldset>
					<legend>New Car</legend>
					<form action="#" method="post">
						<label for="make">Make:</label><input type="text" name="make" />
						<label for="model">Model:</label><input type="text" name="model" />
						<label for="color">Color:</label><input type="text" name="color" />
						<label for="year">Year:</label><input type="text" name="year" />
						<button type="submit">Add Car!</button>
					</form>
				</fieldset>
			</div>
		</div>
	</body>
</html>
